// Flexbox in rows and columns
.sk-flex-col {
  display: flex;
  flex-direction: column;
}
.sk-flex-row {
  display: flex;
  flex-direction: row;
}
// Wrapping
.sk-flex-wrap {
  flex-wrap: wrap;
}
// Alignment of contents along flex direction
.sk-jc-end {
  justify-content: flex-end;
}
.sk-jc-spa {
  justify-content: space-around;
}
.sk-jc-spb {
  justify-content: space-between;
}
// Alignment of contents perpendicular to flex direction
.sk-ai-c {
  align-items: center;
}
.sk-ai-end {
  align-items: flex-end;
}
