// General styles
body {
  background-image: url("../images/photo-1515524738708-327f6b0037a7.jpeg");
}
.container {
  border-radius: 10px;
  section {
    margin: 0;
  }
}
// Backgrounds
.sk-bg-ccc {
  background-color: #ccc;
}
.sk-bg-white {
  background-color: white;
  opacity: 0.95;
}
// Colors
.sk-col-black {
  color: black !important;
}
.sk-col-grey {
  color: $sk-grey;
}
.sk-col-white {
  color: white;
}
// Heights and widths
.sk-h60vw {
  height: 60vw;
}
.sk-w100vw {
  width: 100%;
}
// Placeholders
.sk-placeholder {
  height: 3vh;
}
.sk-placeholder-tiny {
  height: 1vh;
}
.sk-placeholder-verytiny {
  height: 0.01px;
}
.sk-button-group {
  text-align: center;
}
