// Container for title image
.sk-img-container {
  background-image: url("../images/photo-1505685296765-3a2736de412f.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
// Container for small image (my photo)
.sk-small-img {
  width: 19.5vw;
  flex: 0 0 22.5vw;
  margin-right: calc((100vw - #{$cont-xl}) / 2);
  margin-bottom: 2vw;
  @media screen and (max-width: $break-xl) {
    width: 19.5vw;
    flex: 0 0 22.5vw;
    margin-right: calc((100vw - #{$cont-lg}) / 2);
    margin-bottom: 2vw;
  }
  @media screen and (max-width: $break-lg) {
    width: 19.5vw;
    flex: 0 0 22.5vw;
    margin-right: calc((100vw - #{$cont-md}) / 2);
    margin-bottom: 2.5vw;
  }
  @media screen and (max-width: $break-md) {
    width: 26vw;
    flex: 0 0 30vw;
    margin-right: calc((100vw - #{$cont-sm}) / 2);
    margin-bottom: 3vw;
  }
  @media screen and (max-width: $break-sm) {
    width: 39vw;
    flex: 0 0 45vw;
    margin-right: 0;
    margin-bottom: 3.5vw;
  }
  img {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 5;
  }
}
