// Some basic typographic classes
.italic,
.arttitle,
.jtitle {
  font-style: italic;
}
.bold,
.jedition {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
// Add brackets around the publication year of a journal article
.pubyear::before {
  content: "(";
}
.pubyear::after {
  content: ")";
}
// Some styling for external links
.journal {
  color: #212529;
  text-decoration: none;
  background-color: #ddd;
}
.exlink {
  color: $sk-grey;
  text-decoration: none;
  background-color: #eee;
}
