// Some colors
$sk-blue: blue;
$sk-darkgreen: #005500;
$sk-grey: #212529;
$sk-orange: orange;
// Some media breakpoints
$break-xl: 1199px;
$break-lg: 991px;
$break-md: 767px;
$break-sm: 575px;
// Some minimum widths:
$breax-xl: 1200px;
$breax-lg: 992px;
$breax-md: 768px;
$breax-sm: 576px;
// Some container sizes
$cont-xl: 1140px;
$cont-lg: 960px;
$cont-md: 720px;
$cont-sm: 540px;
