// General styling for social media links
@import "./variables";
.links {
  text-align: center;
  font-size: 1.5rem;
}
// Github
.github i {
  color: $sk-grey;
}
.github:hover i {
  color: $sk-darkgreen;
}
// Linkedin
.linkedin i {
  color: $sk-grey;
}
.linkedin:hover i {
  color: $sk-blue;
}
// E-Mail
.mail i {
  color: $sk-grey;
}
.mail:hover i {
  color: $sk-orange;
}
// Copyright
.copyright {
  text-align: center;
}
