/* General styling for social media links */
.links {
  text-align: center;
  font-size: 1.5rem;
}
/* Github */
.github i {
  color: #212529;
}
.github:hover i {
  color: #005500;
}
/* Linkedin */
.linkedin i {
  color: #212529;
}
.linkedin:hover i {
  color: blue;
}
/* Xing */
.xing i {
  color: #212529;
}
.xing:hover i {
  color: blue;
}
/* E-Mail */
.mail i {
  color: #212529;
}
.mail:hover i {
  color: orange;
}
/* Copyright */
.copyright {
  text-align: center;
}
