body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* General styles */
body {
  background-image: url("../images/photo-1515524738708-327f6b0037a7.jpeg");
}
.container {
  border-radius: 10px;
}

.container section {
  margin: 0;
}
/* Backgrounds */
.sk-bg-ccc {
  background-color: #ccc;
}
.sk-bg-white {
  background-color: white;
  opacity: 0.95;
}
/* Colors */
.sk-col-black {
  color: black !important;
}
.sk-col-grey {
  color: #212529;
}
.sk-col-white {
  color: white;
}
/* Heights and widths */
.sk-h60vw {
  height: 60vw;
}
.sk-w100vw {
  width: 100%;
}
/* Placeholders */
.sk-placeholder {
  height: 3vh;
}
.sk-placeholder-tiny {
  height: 1vh;
}
.sk-placeholder-verytiny {
  height: 0.01px;
}
.sk-button-group {
  text-align: center;
}
.sk-mb-8px {
  margin-bottom: 8px;
}
.sk-mt-8px {
  margin-top: 8px;
}
.sk-pb-16px {
  padding-bottom: 16px;
}

/* Some basic typographic classes */
.italic,
.arttitle,
.jtitle {
  font-style: italic;
}
.bold,
.jedition {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
/* Add brackets around the publication year of a journal article */
.pubyear::before {
  content: "(";
}
.pubyear::after {
  content: ")";
}
/* Some styling for external links */
.journal {
  color: #212529;
  text-decoration: none;
  background-color: #ddd;
}
.exlink {
  color: #212529;
  text-decoration: none;
  background-color: #eee;
}

/* Flexbox in rows and columns */
.sk-flex-col {
  display: flex;
  flex-direction: column;
}
.sk-flex-row {
  display: flex;
  flex-direction: row;
}
/* Wrapping */
.sk-flex-wrap {
  flex-wrap: wrap;
}
/* Alignment of contents along flex direction */
.sk-jc-end {
  justify-content: flex-end;
}
.sk-jc-spa {
  justify-content: space-around;
}
.sk-jc-spb {
  justify-content: space-between;
}
/* Alignment of contents perpendicular to flex direction */
.sk-ai-c {
  align-items: center;
}
.sk-ai-end {
  align-items: flex-end;
}

/* Container for title image */
.sk-img-container {
  background-image: url("../images/photo-1505685296765-3a2736de412f.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* Container for small image (my photo) */
.sk-small-img {
  width: 19.5vw;
  flex: 0 0 22.5vw;
  margin-right: calc((100vw - 1140px) / 2);
  margin-bottom: 2vw;
}
@media screen and (max-width: 1199px) {
  .sk-small-img {
    width: 19.5vw;
    flex: 0 0 22.5vw;
    margin-right: calc((100vw - 960px) / 2);
    margin-bottom: 2vw;
  }
}
@media screen and (max-width: 991px) {
  .sk-small-img {
    width: 19.5vw;
    flex: 0 0 22.5vw;
    margin-right: calc((100vw - 720px) / 2);
    margin-bottom: 2.5vw;
  }
}
@media screen and (max-width: 767px) {
  .sk-small-img {
    width: 26vw;
    flex: 0 0 30vw;
    margin-right: calc((100vw - 540px) / 2);
    margin-bottom: 3vw;
  }
}
@media screen and (max-width: 575px) {
  .sk-small-img {
    width: 39vw;
    flex: 0 0 45vw;
    margin-right: 0;
    margin-bottom: 3.5vw;
  }
}
.sk-small-img img {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 5;
}

body {
  margin-bottom: 50px;
}

section {
  margin: 30px 0;
}

h3 {
  margin-bottom: 1rem;
}

.jumbotron {
  padding: 2rem;
  border-radius: 6px;
}

#blockquote {
  margin-top: 30px;
  margin-bottom: 30px;
}

.blockquote {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 4px solid #efefef;
}
