.progress {
  height: 2.5rem;
}
.progress-bar {
  height: 1.5rem;
}
// Background colors for progress bars
.sk-bg-black {
  background-color: black !important;
}
.sk-bg-blue {
  background-color: blue !important;
}
.sk-bg-gold {
  background-color: gold !important;
}
.sk-bg-red {
  background-color: red !important;
}
.sk-bg-white {
  background-color: white !important;
}
.sk-bg-yellow {
  background-color: yellow !important;
}
// Some widths for progress bars
.sk-w25 {
  width: 25%;
}
.sk-w28 {
  width: 28%;
}
.sk-w30 {
  width: 30%;
}
.sk-w33 {
  width: 33.33%;
}
// Alignment
.sk-al {
  text-align: left !important;
}
// Padding
.sk-pl15 {
  padding-left: 15px;
}
// Some black borders to surround white and yellow bars
.sk-bb-black {
  border-bottom: 1px solid black;
}
.sk-bl-black {
  border-left: 1px solid black;
}
.sk-br-black {
  border-right: 1px solid black;
}
.sk-bt-black {
  border-top: 1px solid black;
}
// Switching between text all on the black and text split on the black/red bar
.gboth {
  display: inline;
  @media screen and (max-width: 450px) {
    display: none;
  }
}
.german {
  display: none;
  @media screen and (max-width: 450px) {
    display: inline;
  }
}
.rnative {
  display: none;
  @media screen and (max-width: 450px) {
    display: inline;
  }
}
